$primaryColor: white;
$secondaryColor: rgb(199, 199, 199);
$thirdColor: rgb(255, 196, 0);

$buttonShadow: rgb(0, 70, 255);
$buttonColor: linear-gradient(to right, rgb(0, 110, 255) , rgb(39, 133, 255));
$buttonHoverColor: linear-gradient(to right, rgb(0, 90, 255) , rgb(39, 113, 255));